      <div class="row">
        <div class="col-md-8">
          {{partial "bookmark_list"}}
        </div>
        <div class="col-md-4">
          {{partial "addBookmarkForm"}}
        </div>
      </div>
