<form role="form" {{action "save" on="submit"}}>
  <div class="form-group well">
    <h2>Add a bookmark:</h2>
    {{partial "bookmark_fields"}}
    <button type="submit" id="add_bookmark" class="btn btn-default">Save bookmark</button>
  </div>
</form>
