      <li class="list-group-item">
        <button type="button" class="btn btn-default btn-xs" disabled="disabled">
          <span style="color: #f00" class="glyphicon glyphicon-remove"></span>
        </button>
        {{ url }} | {{ title }}
      </li>
